Options -Indexes 
ErrorDocument 404 /404.php

#php_value auto_prepend_file "/home/bitrix/www/bitrix/modules/security/tools/start.php"

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On



RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]

RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.(php|html|htm)\ HTTP/
RewriteRule ^(.*)index\.(php|html|htm)$ http://iat-sportive.ru/$1 [R=301,L]

      # очищаем URL от дублирования слешей, в любом месте, включая конец URL
RewriteCond %{THE_REQUEST} //
   # Проверяем, повторяется ли слеш (//) более двух раз.
RewriteCond %{QUERY_STRING} !http(s|)://
  # Убедимся что это не урл в  GET
RewriteRule .* /$0 [R=301,L]
   # Исключаем все лишние слеши.

    # Убираем знак вопроса в конце URL (/?)
    RewriteCond %{THE_REQUEST} ^[^\s]+\s+[^?]*?\?
    RewriteCond %{QUERY_STRING} ^$
    RewriteRule .? %{REQUEST_URI}? [R=301,L]

    RewriteRule ^index.php/(.+)$ /$1 [R=301,L]
    RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
    RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,L]





#RewriteCond %{THE_REQUEST} ([^\s]*)\/{2,}(\?[^\s]*)?
#RewriteRule (.*) %1 [R=301,L]
   # Исключаем все лишние слеши.

    # любой файл содержащий .html и не существующий физически переписывается
    RewriteCond %{REQUEST_URI} (\.)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ([^.]+)\.html$ $1/ [R=301,L]
    # любой файл не содержащий точку и не заканчивающийся на слеш переписывается
    RewriteCond %{REQUEST_URI} !(/$|\.)
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}/ [R=301,L]

	# ASPRO_ROBOTS Serve robots.txt with robots.php only if the latter exists
	RewriteCond %{REQUEST_FILENAME} robots.txt
	RewriteCond %{DOCUMENT_ROOT}/robots.php -f
	RewriteRule ^(.*)$ /robots.php [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>
Redirect 301 /tariffs/sezonnoe-obsluzhivanie/ https://iat-sportive.ru/
Redirect 301 /company/reviews/ https://iat-sportive.ru/
Redirect 301 /landings/ https://iat-sportive.ru/
Redirect 301 /tariffs/pervichnoe-to-8-000-15-000-km/ https://iat-sportive.ru/
Redirect 301 /tariffs/ https://iat-sportive.ru/
Redirect 301 /sales/ https://iat-sportive.ru/
Redirect 301 /price/ https://iat-sportive.ru/
Redirect 301 /company/vacancy/ https://iat-sportive.ru/
Redirect 301 /company/staff/ https://iat-sportive.ru/
Redirect 301 /company/requisites/ https://iat-sportive.ru/
Redirect 301 /company/docs/ https://iat-sportive.ru/
#Redirect 301 /company/brands/ https://iat-sportive.ru/
Redirect 301 /tariffs/vtoroe-to-20-000-30-000-km/ https://iat-sportive.ru/
Redirect 301 /articles/ https://iat-sportive.ru/
Redirect 301 /projects/ https://iat-sportive.ru/
#Redirect 301 /services/ https://iat-sportive.ru/
Redirect 301 /product/kvadrotsikly/fmoto-cforce-600-s-eps/ https://iat-sportive.ru/
Redirect 301 /company/partners/ https://iat-sportive.ru/
Redirect 301 /company/licenses/ https://iat-sportive.ru/
#Redirect 301 /services/shinomontazh/ https://iat-sportive.ru/
Redirect 301 /product/akb/ https://iat-sportive.ru/
Redirect 301 /contacts/422/ https://iat-sportive.ru/

Redirect 301 /product/moto-aksessuary/ekipirovka/kvadrotsikletnye-kostyumy/kombinezon-membrannyy/kombinezon-membrannyy/ /product/moto-aksessuary/ekipirovka/kvadrotsikletnye-kostyumy/kombinezon-membrannyy/
Redirect 301 /product/moto-aksessuary/ekipirovka/kvadrotsikletnye-kostyumy/kombinezon-kvadrotsikletnyy-uteplennyy-zhenskiy-cfmoto-fash-pant/kombinezon-kvadrotsikletnyy-uteplennyy-zhenskiy-cfmoto-fash-pant/ /product/moto-aksessuary/ekipirovka/kvadrotsikletnye-kostyumy/kombinezon-kvadrotsikletnyy-uteplennyy-zhenskiy-cfmoto-fash-pant/
Redirect 301 /product/moto-aksessuary/aksessuary/dveri-krysha/komplekt-dverey-cfmoto-z8-z10/komplekt-dverey-cfmoto-z8-z10/ /product/moto-aksessuary/aksessuary/dveri-krysha/komplekt-dverey-cfmoto-z8-z10/
Redirect 301 /product/moto-aksessuary/aksessuary/dveri-krysha/krysha-dlya-zforce-1000-sport/krysha-dlya-zforce-1000-sport/ /product/moto-aksessuary/aksessuary/dveri-krysha/krysha-dlya-zforce-1000-sport/
Redirect 301 /product/moto-aksessuary/ekipirovka/kvadrotsikletnye-kostyumy/kurtka-kvadrotsikletnaya-uteplennaya-zhenskaya-cfmoto-fash-jacket/kurtka-kvadrotsikletnaya-uteplennaya-zhenskaya-cfmoto-fash-jacket/ /product/moto-aksessuary/ekipirovka/kvadrotsikletnye-kostyumy/kurtka-kvadrotsikletnaya-uteplennaya-zhenskaya-cfmoto-fash-jacket/
Redirect 301 /product/moto-aksessuary/ekipirovka/kvadrotsikletnye-kostyumy/kurtka-membrannaya/kurtka-membrannaya/ /product/moto-aksessuary/ekipirovka/kvadrotsikletnye-kostyumy/kurtka-membrannaya/
Redirect 301 /product/moto-aksessuary/aksessuary/chekhly/mufty-ruchek-passazhira-komplekt/mufty-ruchek-passazhira-komplekt/ /product/moto-aksessuary/aksessuary/chekhly/mufty-ruchek-passazhira-komplekt/
Redirect 301 /product/moto-aksessuary/ekipirovka/futbolki/futbolka-zhenskaya-lifestyle/futbolka-zhenskaya-lifestyle/ /product/moto-aksessuary/ekipirovka/futbolki/futbolka-zhenskaya-lifestyle/

Redirect 301	/product/kvadrotsikly/cfmoto-cforce-400l-eps/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-cforce-400l-eps/
Redirect 301	/product/kvadrotsikly/cfmoto-cforce-500-basic/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-cforce-500-basic/
Redirect 301	/product/kvadrotsikly/cfmoto-cforce-600-s-advanced-eps/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-cforce-600-s-advanced-eps/
Redirect 301	/product/kvadrotsikly/cfmoto-cforce-600-advanced-eps/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-cforce-600-advanced-eps/
Redirect 301	/product/kvadrotsikly/cfmoto-uforce-1000-eps/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-uforce-1000-eps/
Redirect 301	/product/kvadrotsikly/cfmoto-zforce-1000-sport-r-eps/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-zforce-1000-sport-r-eps/
Redirect 301	/product/kvadrotsikly/cfmoto-cforce-800-ho-eps-new/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-cforce-800-ho-eps-new/
Redirect 301	/product/kvadrotsikly/cfmoto-cforce-1000-eps-new/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-cforce-1000-eps-new/
Redirect 301	/product/kvadrotsikly/cfmoto-cforce-500-eps/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-cforce-500-eps/
Redirect 301	/product/kvadrotsikly/cfmoto-cforce-110/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-cforce-110/
Redirect 301	/product/kvadrotsikly/cfmoto-zforce-950-sport-4-eps/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-zforce-950-sport-4-eps/
Redirect 301	/product/kvadrotsikly/cfmoto-uforce-1000-xl-eps/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-uforce-1000-xl-eps/
Redirect 301	/product/mototsikly/cfmoto-450-cl-c-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-450-cl-c-abs/
Redirect 301	/product/mototsikly/progasi/progasi-hardcore-450/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-hardcore-450/
Redirect 301	/product/mototsikly/progasi-hardcore-450/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-hardcore-450/
Redirect 301	/product/mototsikly/progasi/progasi-race-300/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-race-300/
Redirect 301	/product/mototsikly/progasi-race-300/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-race-300/
Redirect 301	/product/mototsikly/progasi/progasi-race-300-wave/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-race-300-wave/
Redirect 301	/product/mototsikly/progasi-race-300-wave/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-race-300-wave/
Redirect 301	/product/mototsikly/progasi/progasi-race-300-air/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-race-300-air/
Redirect 301	/product/mototsikly/progasi-race-300-air/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-race-300-air/
Redirect 301	/product/mototsikly/progasi/progasi-gaudi-300/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-gaudi-300/
Redirect 301	/product/mototsikly/progasi-gaudi-300/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-gaudi-300/
Redirect 301	/product/mototsikly/progasi/progasi-ibiza-300/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-ibiza-300/
Redirect 301	/product/mototsikly/progasi-ibiza-300/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-ibiza-300/
Redirect 301	/product/mototsikly/progasi/progasi-super-max-300/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-super-max-300/
Redirect 301	/product/mototsikly/progasi-super-max-300//	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-super-max-300/
Redirect 301	/product/mototsikly/progasi/progasi-super-max-250/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-super-max-250/
Redirect 301	/product/mototsikly/progasi-super-max-250/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-super-max-250/
Redirect 301	/product/mototsikly/progasi/progasi-palma-250/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-palma-250/
Redirect 301	/product/mototsikly/progasi-palma-250/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-palma-250/
Redirect 301	/product/mototsikly/progasi/progasi-max-150/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-max-150/
Redirect 301	/product/mototsikly/progasi-max-150/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-max-150/
Redirect 301	/product/mototsikly/progasi/progasi-smart-150/	https://iat-sportive.ru/product/mototsikly/progasi/pitbayk/progasi-smart-150/
Redirect 301	/product/mototsikly/progasi-smart-150/	https://iat-sportive.ru/product/mototsikly/progasi/pitbayk/progasi-smart-150/
Redirect 301	/product/mototsikly/progasi/progasi-smart-mini-125/	https://iat-sportive.ru/product/mototsikly/progasi/pitbayk/progasi-smart-mini-125/
Redirect 301	/product/mototsikly/progasi-smart-mini-125/	https://iat-sportive.ru/product/mototsikly/progasi/pitbayk/progasi-smart-mini-125/
Redirect 301	/product/mototsikly/progasi/progasi-smart-125/	https://iat-sportive.ru/product/mototsikly/progasi/pitbayk/progasi-smart-125/
Redirect 301	/product/mototsikly/progasi-smart-125/	https://iat-sportive.ru/product/mototsikly/progasi/pitbayk/progasi-smart-125/
Redirect 301	/product/mototsikly/progasi/progasi-kids-power-110/	https://iat-sportive.ru/product/mototsikly/progasi/pitbayk/progasi-kids-power-110/
Redirect 301	/product/mototsikly/progasi-kids-power-110/	https://iat-sportive.ru/product/mototsikly/progasi/pitbayk/progasi-kids-power-110/
Redirect 301	/product/mototsikly/cfmoto-250-nk-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-250-nk-abs/
Redirect 301	/product/mototsikly/cfmoto-300-sr-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-300-sr-abs/
Redirect 301	/product/mototsikly/cfmoto-400-nk-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-400-nk-abs/
Redirect 301	/product/mototsikly/cfmoto-400-gt-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-400-gt-abs/
Redirect 301	/product/mototsikly/cfmoto-450-sr-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-450-sr-abs/
Redirect 301	/product/mototsikly/cfmoto-650-nk-abs//	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-650-nk-abs/
Redirect 301	/product/mototsikly/cfmoto-650-mt-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-650-mt-abs/
Redirect 301	/product/mototsikly/cfmoto-650-gt-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-650-gt-abs/
Redirect 301	/product/mototsikly/cfmoto-700-clx-heritage-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-700-clx-heritage-abs/
Redirect 301	/product/mototsikly/cfmoto-800-mt-sport-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-800-mt-sport-abs/
Redirect 301	/product/mototsikly/cfmoto-800-mt-touring-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-800-mt-touring-abs/
Redirect 301	/product/mototsikly/cfmoto-800-mt-explore-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-800-mt-explore-abs/
Redirect 301	/product/mototsikly/cfmoto-700-mt-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-700-mt-abs/
Redirect 301	/product/mototsikly/cfmoto-800-nk-advanced-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-800-nk-advanced-abs/
Redirect 301	/product/mototsikly/cfmoto-300-cl-x-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-300-cl-x-abs/
Redirect 301	/product/mototsikly/cfmoto-700-cl-x-sport-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-700-cl-x-sport-abs/
Redirect 301	/product/mototsikly/cfmoto-700-cl-x-adventure-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-700-cl-x-adventure-abs/
Redirect 301	/product/snegokhody/sm1000/	https://iat-sportive.ru/product/snegokhody/osm/sm1000/
Redirect 301	/product/pritsepy/pritsep-lav-81012s/	https://iat-sportive.ru/product/pritsepy/vector-pritsepy/pritsep-lav-81012s/
Redirect 301	/product/pritsepy/pritsep-lav-81013e/	https://iat-sportive.ru/product/pritsepy/vector-pritsepy/pritsep-lav-81013e/
Redirect 301	/product/pritsepy/pritsep-lav-81013/	https://iat-sportive.ru/product/pritsepy/vector-pritsepy/pritsep-lav-81013/
Redirect 301	/product/pritsepy/pritsep-lav-81012a/	https://iat-sportive.ru/product/pritsepy/vector-pritsepy/pritsep-lav-81012a/
Redirect 301	/product/pritsepy/pritsep-lav-81012-moto/	https://iat-sportive.ru/product/pritsepy/vector-pritsepy/pritsep-lav-81012-moto/

Redirect 301 /product/kvadrotsikly/cfmoto-cforce-400l-eps/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-cforce-400l-eps/
Redirect 301 /product/kvadrotsikly/cfmoto-cforce-500-basic/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-cforce-500-basic/
Redirect 301 /product/kvadrotsikly/cfmoto-cforce-600-s-advanced-eps/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-cforce-600-s-advanced-eps/
Redirect 301 /product/kvadrotsikly/cfmoto-cforce-600-advanced-eps/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-cforce-600-advanced-eps/
Redirect 301 /product/kvadrotsikly/cfmoto-uforce-1000-eps/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-uforce-1000-eps/
Redirect 301 /product/kvadrotsikly/cfmoto-zforce-1000-sport-r-eps/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-zforce-1000-sport-r-eps/
Redirect 301 /product/kvadrotsikly/cfmoto-cforce-800-ho-eps-new/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-cforce-800-ho-eps-new/
Redirect 301 /product/kvadrotsikly/cfmoto-cforce-1000-eps-new/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-cforce-1000-eps-new/
Redirect 301 /product/kvadrotsikly/cfmoto-cforce-500-eps/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-cforce-500-eps/
Redirect 301 /product/kvadrotsikly/cfmoto-cforce-110/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-cforce-110/
Redirect 301 /product/kvadrotsikly/cfmoto-zforce-950-sport-4-eps/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-zforce-950-sport-4-eps/
Redirect 301 /product/kvadrotsikly/cfmoto-uforce-1000-xl-eps/	https://iat-sportive.ru/product/kvadrotsikly/cfmoto-kv/cfmoto-uforce-1000-xl-eps/
Redirect 301 /product/mototsikly/cfmoto-450-cl-c-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-450-cl-c-abs/
Redirect 301 /product/mototsikly/progasi/progasi-hardcore-450/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-hardcore-450/
Redirect 301 /product/mototsikly/progasi-hardcore-450/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-hardcore-450/
Redirect 301 /product/mototsikly/progasi/progasi-race-300/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-race-300/
Redirect 301 /product/mototsikly/progasi-race-300/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-race-300/
Redirect 301 /product/mototsikly/progasi/progasi-race-300-wave/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-race-300-wave/
Redirect 301 /product/mototsikly/progasi-race-300-wave/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-race-300-wave/
Redirect 301 /product/mototsikly/progasi/progasi-race-300-air/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-race-300-air/
Redirect 301 /product/mototsikly/progasi-race-300-air/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-race-300-air/
Redirect 301 /product/mototsikly/progasi/progasi-gaudi-300/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-gaudi-300/
Redirect 301 /product/mototsikly/progasi-gaudi-300/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-gaudi-300/
Redirect 301 /product/mototsikly/progasi/progasi-ibiza-300/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-ibiza-300/
Redirect 301 /product/mototsikly/progasi-ibiza-300/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-ibiza-300/
Redirect 301 /product/mototsikly/progasi/progasi-super-max-300/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-super-max-300/
Redirect 301 /product/mototsikly/progasi-super-max-300//	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-super-max-300/
Redirect 301 /product/mototsikly/progasi/progasi-super-max-250/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-super-max-250/
Redirect 301 /product/mototsikly/progasi-super-max-250/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-super-max-250/
Redirect 301 /product/mototsikly/progasi/progasi-palma-250/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-palma-250/
Redirect 301 /product/mototsikly/progasi-palma-250/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-palma-250/
Redirect 301 /product/mototsikly/progasi/progasi-max-150/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-max-150/
Redirect 301 /product/mototsikly/progasi-max-150/	https://iat-sportive.ru/product/mototsikly/progasi/enduro/progasi-max-150/
Redirect 301 /product/mototsikly/progasi/progasi-smart-150/	https://iat-sportive.ru/product/mototsikly/progasi/pitbayk/progasi-smart-150/
Redirect 301 /product/mototsikly/progasi-smart-150/	https://iat-sportive.ru/product/mototsikly/progasi/pitbayk/progasi-smart-150/
Redirect 301 /product/mototsikly/progasi/progasi-smart-mini-125/	https://iat-sportive.ru/product/mototsikly/progasi/pitbayk/progasi-smart-mini-125/
Redirect 301 /product/mototsikly/progasi-smart-mini-125/	https://iat-sportive.ru/product/mototsikly/progasi/pitbayk/progasi-smart-mini-125/
Redirect 301 /product/mototsikly/progasi/progasi-smart-125/	https://iat-sportive.ru/product/mototsikly/progasi/pitbayk/progasi-smart-125/
Redirect 301 /product/mototsikly/progasi-smart-125/	https://iat-sportive.ru/product/mototsikly/progasi/pitbayk/progasi-smart-125/
Redirect 301 /product/mototsikly/progasi/progasi-kids-power-110/	https://iat-sportive.ru/product/mototsikly/progasi/pitbayk/progasi-kids-power-110/
Redirect 301 /product/mototsikly/progasi-kids-power-110/	https://iat-sportive.ru/product/mototsikly/progasi/pitbayk/progasi-kids-power-110/
Redirect 301 /product/mototsikly/cfmoto-250-nk-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-250-nk-abs/
Redirect 301 /product/mototsikly/cfmoto-300-sr-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-300-sr-abs/
Redirect 301 /product/mototsikly/cfmoto-400-nk-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-400-nk-abs/
Redirect 301 /product/mototsikly/cfmoto-400-gt-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-400-gt-abs/
Redirect 301 /product/mototsikly/cfmoto-450-sr-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-450-sr-abs/
Redirect 301 /product/mototsikly/cfmoto-650-nk-abs//	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-650-nk-abs/
Redirect 301 /product/mototsikly/cfmoto-650-mt-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-650-mt-abs/
Redirect 301 /product/mototsikly/cfmoto-650-gt-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-650-gt-abs/
Redirect 301 /product/mototsikly/cfmoto-700-clx-heritage-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-700-clx-heritage-abs/
Redirect 301 /product/mototsikly/cfmoto-800-mt-sport-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-800-mt-sport-abs/
Redirect 301 /product/mototsikly/cfmoto-800-mt-touring-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-800-mt-touring-abs/
Redirect 301 /product/mototsikly/cfmoto-800-mt-explore-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-800-mt-explore-abs/
Redirect 301 /product/mototsikly/cfmoto-700-mt-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-700-mt-abs/
Redirect 301 /product/mototsikly/cfmoto-800-nk-advanced-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-800-nk-advanced-abs/
Redirect 301 /product/mototsikly/cfmoto-300-cl-x-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-300-cl-x-abs/
Redirect 301 /product/mototsikly/cfmoto-700-cl-x-sport-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-700-cl-x-sport-abs/
Redirect 301 /product/mototsikly/cfmoto-700-cl-x-adventure-abs/	https://iat-sportive.ru/product/mototsikly/cfmoto/cfmoto-700-cl-x-adventure-abs/
Redirect 301 /product/snegokhody/sm1000/	https://iat-sportive.ru/product/snegokhody/osm/sm1000/
Redirect 301 /product/pritsepy/pritsep-lav-81012s/	https://iat-sportive.ru/product/pritsepy/vector-pritsepy/pritsep-lav-81012s/
Redirect 301 /product/pritsepy/pritsep-lav-81013e/	https://iat-sportive.ru/product/pritsepy/vector-pritsepy/pritsep-lav-81013e/
Redirect 301 /product/pritsepy/pritsep-lav-81013/	https://iat-sportive.ru/product/pritsepy/vector-pritsepy/pritsep-lav-81013/
Redirect 301 /product/pritsepy/pritsep-lav-81012a/	https://iat-sportive.ru/product/pritsepy/vector-pritsepy/pritsep-lav-81012a/
Redirect 301 /product/pritsepy/pritsep-lav-81012-moto/	https://iat-sportive.ru/product/pritsepy/vector-pritsepy/pritsep-lav-81012-moto/

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
  ExpiresByType image/png "access plus 3 day"
  ExpiresByType text/css "access plus 3 day"
  ExpiresByType application/javascript "access plus 3 day"  
</IfModule>
