/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

.v-hidden {
	visibility: hidden;
}

.d-none {
	display: none;
}

.d-flex {
	display: flex;
}

.justify-content-end {
	justify-content: flex-end;
}

.header_highlighted {
	max-width: fit-content;
	margin-bottom: 12px;
	padding: 4px;
	background-color: #fafafa;
	color: #333;
	border-radius: 8px;
}

.offset-bottom {
	position: relative;
	bottom: 12px;
}

.mobile-menu__item_custom {
	line-height: unset;
}

.mobile-menu__item_custom span {
	display: block;
	text-align: left;
	margin-left: 76px;
	font-size: 18px;
}

.mobile-menu__item_custom span.m-top {
	margin-top: 18px;
}

.header_1 .phones .svg {
	display: none;
}

.top_block_switch,
.right_dok .link:nth-child(4),
.mobilemenu__menu--widget,
.page-top .share {
    display: none;
    visibility: hidden;
}

.right_block p:first-child  img {
    width: 100%;
}

.header__top-inner .address {
    margin-top: 20px;
}

.logo {
    height: auto;
}

#main .sticky-block {
    position: unset;
}

.map2 .map-detail-items .map-detail-items__item-title {
    font-size: 18px;
}

@media (max-width: 340px) {
    .mobileheader__item--right-icons .line-block {
        justify-content: unset;
        flex-direction: row-reverse;
    }

    .mobileheader__item--right-icons .line-block>.line-block__item {
        padding-right: 15px;
    }
}

@media (min-width: 768px) {
	.offset-bottom {
		bottom: 30px;
	}
}

/* Contacts customization */
/*.contacts__col--right {
	width: 700px;
}*/