/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

.v-hidden {
	visibility: hidden;
}

.d-none {
	display: none;
}

.d-flex {
	display: flex;
}

.justify-content-end {
	justify-content: flex-end;
}

.header_highlighted {
	max-width: fit-content;
	margin-bottom: 12px;
	padding: 4px;
	background-color: #fafafa;
	color: #333;
	border-radius: 8px;
}

.offset-bottom {
	position: relative;
	bottom: 12px;
}

.mobile-menu__item_custom {
	line-height: unset;
}

.mobile-menu__item_custom span {
	display: block;
	text-align: left;
	margin-left: 76px;
	font-size: 18px;
}

.mobile-menu__item_custom span.m-top {
	margin-top: 18px;
}

.header_1 .phones .svg {
	display: none;
}

.top_block_switch,
.right_dok .link:nth-child(4),
.mobilemenu__menu--widget,
.page-top .share {
    display: none;
    visibility: hidden;
}

.right_block p:first-child  img {
    width: 100%;
}

.header__top-inner .address {
    margin-top: 20px;
}

.logo {
    height: auto;
}

#main .sticky-block {
    position: unset;
}

.map2 .map-detail-items .map-detail-items__item-title {
    font-size: 18px;
}

.catalog-block__wrapper--new .catalog-block__info-bottom .line-block {
	flex-direction: column;
	align-items: flex-start;
}

.catalog-block__wrapper--new .catalog-block__info-btn .btn {
	padding-right: 60px;
	padding-left: 60px;
}

.catalog-block__wrapper--new .catalog-block__item {
	border: none;
}

.catalog-block__wrapper--new .catalog-block__item:not(:hover) {
	background-color: transparent;
}

.calalog-all-link {
	display: inline-block;
	margin-top: 20px;
	font-size: 21px;
	border-bottom: 1px solid #fff;
	transition: border-color .3s ease, color .3s ease;
}

.calalog-all-link:hover,
.calalog-all-link:focus {
	border-bottom: 1px solid transparent;
	outline: none;
}

.header__top-part--height_90 {
	height: 90px;
}

.header-top-btns {
	display: flex;
	align-items: center;
	margin-left: 30px;
}

.header-top-contacts {
	flex-wrap: wrap;
	justify-content: flex-end;
}

.header-top-contacts > .d-flex {
	flex-wrap: wrap;
	justify-content: flex-end;
}

.header-top-right {
	display: flex;
	align-items: center;
}

.header_1--new .header__top-inner {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
}

.header-top-slogan {
	padding: 0 30px;
	font-size: 18px;
	visibility: visible !important;
}

.services-list__wrapper--new {
	position: relative;
	z-index: 1;
}

.services-list__wrapper--new::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.new-service-content {
	width: 100%;
	overflow-x: auto;
}

.new-service-content table {
	width: 100%;
	border-collapse: collapse;
}

.new-service-content th {
	color: #fff;
	font-weight: 700;
}

.new-service-content th,
.new-service-content td {
	min-width: 150px;
	padding: 5px;
	border: 1px solid #fff;
}

.new-service-additional .grid-list--items-3-wide {
	grid-template-columns: repeat(auto-fill,minmax(364px,1fr));
}

.element-related-products {
	position: relative;
	left: -24px;
	width: calc(100% + 48px);
	margin-top: 30px;
	/*margin-right: -24px;*/
	/*margin-left: -24px;*/
}

@media (max-width: 340px) {
    .mobileheader__item--right-icons .line-block {
        justify-content: unset;
        flex-direction: row-reverse;
    }

    .mobileheader__item--right-icons .line-block>.line-block__item {
        padding-right: 15px;
    }
}

@media (min-width: 768px) {
	.offset-bottom {
		bottom: 30px;
	}

	body .main-slider--type_4_slider .owl-carousel__dots--right.owl-carousel__dots--maxwidth-theme {
		display: flex;
		justify-content: center;
		padding: 0;
		left: 50%;
		bottom: 50px;
		transform: translateX(-50%);
	}

	.main-slider--type_4_slider .owl-carousel--button-bottom-right.owl-carousel--button-maxwidth-theme .owl-nav {
		position: absolute;
		top: 50%;
		left: 50%;
		display: flex;
		justify-content: space-between;
		height: 0;
		width: calc(100% - 40px);
		transform: translate(-50%, -50%);
		z-index: 111;
	}

	.banners-big.main-slider--type_4_slider .maxwidth-theme {
		padding-left: 80px;
		padding-right: 80px;
	}

	.calalog-all-link {
		margin-top: 30px;
		font-size: 18px;
	}
}

@media (min-width: 992px) {
	.element-related-products {
		left: -32px;
		width: calc(100% + 64px);
		margin-top: 60px;
		/*margin-right: -32px;*/
		/*margin-left: -32px;*/
	}
}

@media (max-width: 1599px) {
	.header-top-contacts-wrapper {
		position: relative;
		margin-left: auto;
	}

	.header-top-contacts-toggle {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 34px;
		height: 34px;
		padding: 0;
		border: none;
		background-color: transparent;
		/*background-position: center;*/
		/*background-size: contain;*/
		/*background-repeat: no-repeat;*/
		/*background-image: url("../images/icon-header-new-phone.svg");*/
	}

	/*.header-top-contacts-toggle::after {*/
	/*	content: "";*/
	/*	position: absolute;*/
	/*	top: 50%;*/
	/*	right: 0;*/
	/*	width: 0;*/
	/*	height: 0;*/
	/*	border-right: 3px solid transparent;*/
	/*	border-top: 3px solid #fff;*/
	/*	border-left: 3px solid transparent;*/
	/*	transform: translateY(-50%);*/
	/*}*/

	.header-top-contacts-toggle:focus {
		outline: none;
	}

	.header-top-contacts-toggle:hover path,
	.header-top-contacts-toggle:focus path,
	.header-top-contacts-toggle--active path {
		fill: #aaa;
		stroke: #aaa;
	}

	.header-top-contacts {
		position: absolute;
		top: calc(100% + 10px);
		left: 0;
		display: none;
		width: 217px;
		padding: 10px;
		background-color: var(--black_bg_black);
		border-radius: 4px;
		box-shadow: 0 3px 7px rgba(0,0,0,.05);
	}

	body.theme-light .header-top-contacts {
		border: 1px solid rgba(0,0,0,.1);
	}


	body.theme-dark .header-top-contacts {
		border: 1px solid rgba(0,0,0,.8);
	}

	.header-top-contacts-toggle--active + .header-top-contacts {
		display: block;
	}
	
	.header-top-contacts > .d-flex {
		justify-content: flex-start;
	}

	.header-top-btns {
		margin-left: 16px;
	}
}

@media (min-width: 1600px) {
	.header-top-contacts-toggle {
		display: none;
	}
}

@media (min-width: 1700px) {
	.banners-big.main-slider--type_4_slider .maxwidth-theme {
		padding-right: 32px;
		padding-left: 32px;
	}
}

/* Contacts customization */
/*.contacts__col--right {
	width: 700px;
}*/